**/books/*
build/*
**/data/*
**/fonts/*
**/images/*
**/items/*
**/maps/*
**/models/*
**/music/*
**/sound/*
**/editor/*
**/crashlogs/*
**/logfiles/*
**/lang/*
**/config/*
!lang/*
!lang/item_names.json
**/mods/*
**/savegames/*
src/Config.hpp
.buildconfig
steam_appid.txt
!/VS-includes/Config.hpp
/VS-libs/*
/VS.2022
*.o
*.exe
*.ffs_db
*.TMP
*.tlog
*.psess
*.vspx
*.inl
*.dll
*.iobj
*.idb
*.ipdb
*.pdb
*.obj
*.log
*.user
*log.txt
*.cache
*.zip
*.res
*.lnk
*.xml
*.db
*.opendb
*.lib
*.exp
*.vsp
.vscode/*
**/v17
**/v16
**/FileContentIndex
*VSWorkspaceState.json
*slnx.sqlite
*ProjectSettings.json
*FileListAbsolute.txt
*recipe
.DS_Store
xcode/Barony/Barony.xcodeproj/project.xcworkspace/*
xcode/Barony/Barony.xcodeproj/xcuserdata/*
*.ps1
